global
  log stdout format raw local0 info
defaults
  mode                    http
  log                     global
  option                  dontlognull
  option                  http-server-close
  option                  redispatch
  retries                 3
  timeout http-request    10s
  timeout queue           1m
  timeout connect         10s
  timeout client          1m
  timeout server          1m
  timeout http-keep-alive 10s
  timeout check           10s
  maxconn                 3000
frontend stats
  mode http
  bind 10.0.0.50:8404
  stats enable
  stats refresh 10s
  stats uri /stats
  stats show-modules
  stats admin if TRUE
listen local-lab-api-server-6443 
  bind 10.0.0.50:6443
  mode tcp
  option  httpchk GET /readyz HTTP/1.0
  option  log-health-checks
  balance roundrobin
#  server bootstrap.local-lab bootstrap.local-lab.ocp.highley.net:6443 verify none check check-ssl inter 10s fall 2 rise 3 backup
  server master0.local-lab master0.local-lab.ocp.highley.net:6443 weight 1 verify none check check-ssl inter 10s fall 2 rise 3
#  server master1.local-lab master1.local-lab.ocp.highley.net:6443 weight 1 verify none check check-ssl inter 10s fall 2 rise 3
#  server master2.local-lab master2.local-lab.ocp.highley.net:6443 weight 1 verify none check check-ssl inter 10s fall 2 rise 3
#  server master3.local-lab master3.local-lab.ocp.highley.net:6443 weight 1 verify none check check-ssl inter 10s fall 2 rise 3
#  server master4.local-lab master4.local-lab.ocp.highley.net:6443 weight 1 verify none check check-ssl inter 10s fall 2 rise 3
listen local-lab-machine-config-server-22623 
  bind 10.0.0.50:22623
  mode tcp
#  server bootstrap.local-lab bootstrap.local-lab.ocp.highley.net:22623 check inter 1s
  server master0.local-lab master0.local-lab.ocp.highley.net:22623 check inter 1s
#  server master1.local-lab master1.local-lab.ocp.highley.net:22623 check inter 1s
#  server master2.local-lab master2.local-lab.ocp.highley.net:22623 check inter 1s
#  server master3.local-lab master3.local-lab.ocp.highley.net:22623 check inter 1s
#  server master4.local-lab master4.local-lab.ocp.highley.net:22623 check inter 1s
listen local-lab-ingress-router-443 
  bind 10.0.0.50:443
  mode tcp
  balance source
  server master0.local-lab master0.local-lab.ocp.highley.net:443 check inter 1s
#  server master1.local-lab master1.local-lab.ocp.highley.net:443 check inter 1s
#  server master2.local-lab master2.local-lab.ocp.highley.net:443 check inter 1s
#  server master3.local-lab master3.local-lab.ocp.highley.net:443 check inter 1s
#  server master4.local-lab master4.local-lab.ocp.highley.net:443 check inter 1s
listen local-lab-ingress-router-80 
  bind 10.0.0.50:80
  mode tcp
  balance source
  server master0.local-lab master0.local-lab.ocp.highley.net:80 check inter 1s
#  server master1.local-lab master1.local-lab.ocp.highley.net:80 check inter 1s
#  server master2.local-lab master2.local-lab.ocp.highley.net:80 check inter 1s
#  server master3.local-lab master3.local-lab.ocp.highley.net:80 check inter 1s
#  server master4.local-lab master4.local-lab.ocp.highley.net:80 check inter 1s
